@CHARSET "UTF-8";

body {
	margin: 0;
	padding: 0;
}

body.yui-layout {
	overflow: scroll;
}

#toggle {
	text-align: center;
	padding: 1em;
}

#toggle a {
	padding: 0 5px;
	border-left: 1px solid black;
}

#tRight {
	border-left: none !important;
}

.yui-layout-unit-center {
	max-width: 300 !important;
}

div.yui-b p {
	margin: 0 0 .5em 0;
	color: #999;
}

div.yui-b p strong {
	font-weight: bold;
	color: #000;
}

div.yui-b p em {
	color: #000;
}

h1 {
	font-weight: bold;
	margin: 0 0 1em 0;
	padding: .25em .5em;
	background-color: #ccc;
}

#productsandservices {
	margin: 0 0 10px 0;
	vertical-align: bottom;
}

#productsandservices div {
	vertical-align: bottom;
}

.yuimenubaritem {
	background-color: #EDF5FF; 
}

.yuimenubaritemlabel, .yuimenuitem {
	background: #EDF5FF;
}

.header {
	background-image: url("img/header-bg.png");
	vertical-align: top;
	height: 140px;
	vertical-align: bottom;
}

#doc {
	margin-left: 20em !important;
	text-align: left;
	width: 57.69em;
	*width: 56.25em;
}

#layout-doc {
	margin-left: 150px;
	margin-right: 20px;
}

.yui-layout-unit-left {
	border: none !important thick;
	background: ffffff !important;
	padding-top: 50px;
	/*margin-bottom: 50px;*/
}
.yui-layout-unit-left div {
	background: url("img/ads/try.gif") repeat-y !important;
}
#quicksearch {
	min-width: 30em;
}
div#module {
	width: 1000px;
	height: 800px;
	background-image: url("img/ads/lexus_lf_gh_concept_0_430.png");
	background-repeat: no-repeat;
}

#module2 {
	float: right;
}
#quicksearch div {
	
	/*width: 400px;
	height: auto;*/
}

/*.yui-button#carBtn1 span button {*/
#carBtn1-button {
    background: url("img/31.gif") center center no-repeat transparent scroll; 
    text-indent: -4em; 
    overflow: hidden; 
    padding: 0 .75em; 
    width: 2em; 
    *margin-left: 4em;   /* IE only */ 
    *padding: 0 1.75em;  /* IE only */ 
}

.yui-u input {
	margin-left: 0.5em;
}

.yui-g .yui-u div {
	margin-bottom: 1em;
}

div.yuimenu .bd {
    zoom: normal;
}

.yui-menu-button span button {
	min-width: 9em;
}

#buyContent div div fieldset div div ul li a {
	min-width: 8em;
}

#divSearch {
	margin-top: 3em;
}

#searchBtn span button{
	border-width: 1 1px;
    border-style: solid;
    border-color: #80C8FE;
    background-color: #A5A6DA;
}
#divDetailSearch {
	margin-top: 3em;
}

#searchDetailedBtn span button{
	border-width: 1 1px;
    border-style: solid;
    border-color: #80C8FE;
    background-color: #A5A6DA;
}

.vSpaceTop {
	margin-top: 2em;
}

.vImgListSpace {
	margin-top: 4em !important;
}
.vImgList {
	min-width: 90px;
	min-height: 30px;
	margin-top: 1em;	
}

.vImageItem {
	width: 70px;
	height: 30px;
	border-bottom-style: groove;
	border-bottom-color: black;
	border-bottom-width: medium;
}

.vImgList div a {
	display: block;
	width: 100%;
	height: 100%;
}


.hColMargin {
	padding-left: 2em;	
}

.yui-layout-unit-bottom div .yui-layout-bd{
	background: url("img/ads/hbanner.png") no-repeat center center !important;
}

.yui-skin-sam .yui-dt-liner { white-space:nowrap; }


.yui-skin-sam .yui-dt tr.yui-dt-last td,
.yui-skin-sam .yui-dt th,
.yui-skin-sam .yui-dt td {
    border: none;
}

tr:hover {
	border: 1px solid red !important;
}

.yui-dt-even:hover {
	border: solid thin black !important;
}

th div, td div {
	text-align: right;
}

#markup {
	width: 70%;
}

#markup table {
	width: 100%;
}